/*=============================================
=            Casino Slots list 	            =
=============================================*/

.casino-slots-list {
    display              : grid;
    grid-template-columns: repeat(4, 24.2%);
    gap                  : 1rem;
    margin               : 2rem 0;
}

.casino-slots-item {
    border-radius: .5rem;
    box-shadow   : 0px 0px 20px rgba(0, 0, 0, 0.2);
    border       : solid 1px #e0dfdf;
}

.casino-slots-image {
    display        : flex;
    justify-content: center;
}

.casino-slots-image img {
    height       : 155px;
    border-radius: .5rem .5rem 0 0;
}

.casino-slots-name {
    text-align    : center;
    font-weight   : bold;
    text-transform: uppercase;
    font-size     : 1rem;
}

.casino-slots-name a {
    color: #000;
}

.casino-slots-publisher {
    text-align: center;
    font-size : 0.8rem;
}

.casino-slots-slot-info {
    padding: 0.8rem;
}

.slot-info-field {
    display        : flex;
    justify-content: space-between;
    padding        : 0.7rem 0;
    line-height    : 1rem;
}

.slot-info-field {
    border-bottom: 1px solid #e3e3e3;
}

.slot-info-left {
    font-size: 1rem;
}

.slot-info-right {
    font-size  : 1rem;
    font-weight: bold;
}

.casino-slots-button {
    padding        : 0.7rem 0 1.5rem;
    display        : flex;
    justify-content: center;
}

.casino-slots-button a {
    font-size       : 1.4rem;
    padding         : .5rem 4rem;
    background-color: #accd41;
    border-radius   : .5rem;
    color           : #fff !important;
}

@media (max-width:767px) {
    .casino-slots-list {
        grid-template-columns: auto;
        row-gap              : 3rem;
    }
}

/*=============================================
=            END Casino Slots list 	          =
=============================================*/

/*=============================================
=            Casino Reviews list 	          =
=============================================*/

.casino-reviews-item.single .casino-reviews-3 {
    display: none;
}

.casino-reviews-item.single #main-tab {
    grid-template-columns: 20% 50% 30%;
}

.casino-reviews-list:not(:first-child) {
    margin-top: 10px;
}

.casino-reviews-item {
    position     : relative;
    background   : #fff;
    box-shadow   : 0 0 2.1rem rgba(0, 0, 0, .1);
    margin       : 0 auto;
    margin-bottom: 15px;
}

.casino-reviews-item:not(:first-child) {
    margin-top: 10px;
}

#main-tab {
    display              : grid;
    grid-template-columns: 17% 30% 25% 28%;
    grid-template-rows   : 110px;
}

.casino-reviews-1 {
    position       : relative;
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: center;
    background     : #a4a4a4;
}

.casino-reviews-1 i {
    font-size: 11px;
}

.casino-reviews-1 img {
    width     : 120px;
    height    : 60px;
    object-fit: contain;
}

#main-tab .casino-reviews-1 a {
    font-size      : 12px;
    color          : #fff;
    display        : flex;
    align-items    : center;
    text-decoration: none;
}

.casino-reviews-2 {
    display        : flex;
    flex-direction : column;
    justify-self   : flex-start;
    justify-content: center;
    padding        : 0 15px;
}

.bonus-main-line {
    font-weight: bold;
    font-size  : 18px;
    line-height: 30px;
}

.bonus-main-line span {
    color    : #accd41;
    font-size: 22px;
}

.bonus-second-line {
    color    : #7f7f7f;
    font-size: 15px;
}

.casino-reviews-2 img {
    width     : 40px;
    height    : 20px;
    object-fit: contain;
}

.casino-reviews-3 {
    font-size      : 14px;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    padding        : 10px 0;
}

.casino-reviews-3 img {
    width     : 20px;
    height    : 15px;
    object-fit: contain;
}

.casino-reviews-3 .field-item {
    display    : flex;
    align-items: center;
    line-height: 16px;
}

.casino-reviews-4 {
    padding        : 0 10px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    position       : relative;
}

.cta-wrap {
    text-align     : center;
    height         : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: center;
}

.cta-wrap .review {
    text-decoration : none;
    color           : #7f7f7f;
    font-size       : 14px;
    margin-top      : 5px;
    background-color: none;
}

.cta-wrap .review:hover {
    text-decoration: underline;
}

.casino-reviews-4 .cta-wrap .play {
    color              : #fff;
    background-color   : #189e0c;
    text-transform     : uppercase;
    padding            : 7px 0;
    display            : flex;
    justify-content    : center;
    border-radius      : 5px;
    transition-duration: .5s;
    text-decoration    : none;
    margin-top         : 15px;
}

.casino-reviews-4 .cta-wrap .play:hover {
    background-color: #0f5f08;
    transform       : scale(1.02);
    box-shadow      : 0 1px 8px 0 rgba(0, 0, 0, .4);
}

.casino-reviews-4 .animated-button {
    color: #fff;
}

/* Back to main tab button */

.back-to-main-tab {
    position : absolute;
    right    : 1rem;
    top      : .1rem;
    font-size: 1.2rem;
    cursor   : pointer;
}

/* Payments tab */

#payments-tab {
    padding: 10px;
}

.payments-info .payments-info-time {
    font-size: 1.2rem;
}

.payments-info-header {
    font-size     : 1.2rem;
    font-weight   : bold;
    text-transform: uppercase;
}

.payment-cards img {
    width     : 4.5rem;
    height    : 3rem;
    object-fit: contain;
}

.casino-review-terms {
    font-size  : 7px;
    color      : #9f9f9f;
    line-height: 12px;
    margin-top : 5px;
}

@media (max-width:767px) {
    .casino-reviews-item {
        margin-bottom: 30px;
    }

    #main-tab {
        grid-template-columns: auto !important;
    }

    .casino-reviews-1 {
        margin : 0;
        padding: 10px 0;
    }

    .casino-reviews-1 img {
        width : 150px;
        height: 75px;
    }

    .casino-reviews-1 i.icon-info {
        font-size: 16px;
    }

    .casino-reviews-3 {
        padding: 20px 10px;
    }

    .tabs-box {
        top  : -1px;
        right: -1px;
    }

    .casino-reviews-3 .field-item {
        font-size: 16px;
    }

    .casino-reviews-3 .field-item:not(:last-child) {
        margin-bottom: 20px;
    }

    .casino-reviews-1 a {
        font-size: 16px;
    }

    .casino-reviews-2 {
        text-align: center;
        margin    : 0;
    }

    .bonus-main-line {
        font-size  : 24px;
        line-height: 30px;
    }

    .bonus-second-line {
        font-size: 16px;
    }

    .casino-reviews-2 {
        padding     : 10px 0;
        justify-self: center;
    }

    .upper-right-get-bonus a {
        width: 100%;
    }

    .casino-reviews-4 .casino-review-terms {
        width     : 90%;
        margin    : 5px auto;
        text-align: center;
        font-size : 10px;
    }

    #main-tab .casino-reviews-4 {
        padding   : 0;
    }

    #main-tab .cta-wrap .play {
        margin-top   : 0;
        border-radius: 0;
        padding      : 10px 0;
    }

    #main-tab .cta-wrap .review {
        order         : -1;
        font-size     : 16px;
        text-transform: capitalize;
        letter-spacing: 0;
        margin        : 0 0 5px;
    }
}

/* Ribbon CSS */
.ribbon {
    position     : absolute;
    top          : -10px;
    left         : 7px;
    padding      : 0 0.5em;
    font-size    : 12px;
    margin       : 0 0 0 -0.625em;
    line-height  : 1.875em;
    color        : #fff;
    border-radius: 0 0.156em 0.156em 0;
    background   : rgb(123, 159, 199);
    box-shadow   : -1px 2px 3px rgba(0, 0, 0, 0.5);
}

.ribbon:before,
.ribbon:after {
    position: absolute;
    content : '';
    display : block;
}

.ribbon:before {
    width        : 0.469em;
    height       : 123%;
    padding      : 0 0 0.438em;
    top          : 0;
    left         : -0.469em;
    background   : inherit;
    border-radius: 0.313em 0 0 0.313em;
}

.ribbon:after {
    width        : 0.313em;
    height       : 0.313em;
    background   : rgba(0, 0, 0, 0.35);
    bottom       : -0.313em;
    left         : -0.313em;
    border-radius: 0.313em 0 0 0.313em;
    box-shadow   : inset -1px 2px 2px rgba(0, 0, 0, 0.3);
}

/*=============================================
=            END Reviews list 	             =
=============================================*/