.single-casino-review {}

.single-casino-upper {
    background: linear-gradient(170deg, rgba(49, 57, 73, 0.8) 20%, rgba(49, 57, 73, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(41, 48, 61, 0.8) 45%, rgba(31, 36, 46, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) #313949;
}

.head-bonus-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px 0;
}

.single-casino-h1 {
    color: #fff;
    font-size: 12px;
}

.single-casino-upper-right {
    align-self: flex-start;
    flex: 0 0 50%;
}

.upper-left-rating {
    display: flex;
    align-items: center;
}

.upper-left-rating span:first-of-type {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-right: 5px;
}

.upper-right-bonus-info {
    color: #fff;
    line-height: 40px;
}

.upper-right-pluses {
    float: left;
    margin-right: 40px;
}

.upper-right-minuses {
    float: left;
}

.upper-right-minuses .field-item {
    color: #fff;
}

.upper-right-minuses .field-item i {
    color: #e85f5f;
}

.upper-right-pluses .field-item i {
    color: #1c9e0c;
}

.upper-right-pluses img {
    max-width: 22px;
}

.upper-right-pluses .field-item, .upper-right-minuses .field-item {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 12px;
}

.single-casino-upper-left {
    flex: 0 0 45%;
    display: flex;
    flex-direction: column;
}

.upper-left-logo {
    display: flex;
}

.upper-left-logo img {
    width: 190px;
    height: 65px;
    object-fit: contain;
}

.star-active {
    font-size: 24px;
    color: gold;
}

.star-blank {
    font-size: 24px;
    color: #ccc;
}

.upper-right-terms {
    font-size: 9px;
    color: #fff;
    margin-bottom: 5px;
}

.upper-right-bonus-info a span:first-child {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}

.upper-right-bonus-info a span:nth-child(2) {
    font-size: 30px;
    color: #fff;
}

.upper-right-get-bonus {
    display: flex;
}

.upper-right-get-bonus a {
    color: #fff;
    font-weight: bold;
    background-color: #189e0c;
    padding: 10px 120px;
    border-radius: 5px;
}

/* Main content field */

.single-casino-lower {
    display: flex;
    justify-content: space-between;
}

.single-casino-main {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border: 1px #eaeaea solid;
}

.single-casino-main {
    flex: 70%;
}

/* Tables */

.hide {
    display: none!important;
}

table {
    border-collapse: collapse;
    vertical-align: top;
}

.custom-table td, .toplist-table td {
    border: 1px solid #dbdbdb;
    vertical-align: middle;
    padding: 5px 20px;
    font-size: 14px;
}

.custom-table td:first-of-type {
    font-weight: bold;
}

.ext td {
    border: none;
    text-align: center;
}

/* Casino review aside */

.single-casino-aside {
    flex: 25%;
    margin: 20px;
}

.aside-item {
    background: #fff;
    border: 1px #eaeaea solid;
    padding: 10px;
}

.aside-header {
    font-weight: bold;
}

.list-wrapper {
    font-size: 14px;
}

.aside-item:not(:first-child) {
    margin-top: 10px;
}

.bonus-table {
    display: table;
    width: 100%;
    font-size: 14px;
}

.bonus-table tr td:last-child {
    font-weight: bold;
}

.bonus-table tr:not(:last-child) {
    border-bottom: 1px solid #eee;
}

#review-main-table {
    margin-top: 10px;
    font-size: 12px;
    color: #fff;
}

#review-main-table td {
    padding: 5px;
}

#review-main-table tr td:nth-child(1) {
    font-weight: bold;
}

#review-main-table tr td:nth-child(2) {
    /* text-align: right; */
}

#review-main-table .cta a {}

.table-cta a {
    color: #fff;
    font-weight: bold;
}


@media (min-width:768px) {
    .mobile-casino-header {
        display: none;
    }
}

@media (max-width:767px) {
    .head-bonus-wrap {
        flex-direction: column;
        padding: 10px;
    }
    .upper-right-bonus-info {
        line-height: 32px;
        padding: 15px 0;
    }
    .upper-right-get-bonus a {
        display: flex;
    }
    .single-casino-lower {
        flex-direction: column;
    }
    .upper-left-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .upper-left-logo {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }
    #review-main-table tr td:nth-child(1) {
        width: 35%;
    }
    #review-main-table {
        width: 100%;
    }
    #review-main-table .cta a {
        margin: 0 auto;
        width: 100%;
    }
    .single-casino-h1 {
        display: none;
    }
    .upper-right-bonus-info a span:first-child {
        font-size: 28px;
    }
    .upper-right-bonus-info a span:nth-child(2) {
        font-size: 18px;
    }
    .upper-right-pluses, .upper-right-minuses {
        display: none;
    }
}

/* --------------------------------------------- ANIMATED BUTTON ----------------------------------------------- */

.animated-button {
    background: linear-gradient(-30deg, #189e0c 50%, #0e5608 50%);
    display: inline-block;
    padding: 3px 30px;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    overflow: hidden;
    color: #fff;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #8592ad;
    opacity: 0;
    -webkit-transition: .2s opacity ease-in-out;
    transition: .2s opacity ease-in-out;
}

.animated-button:hover::before {
    opacity: 0.2;
}

.animated-button span {
    position: absolute;
}

.animated-button span:nth-child(1) {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.1), #fff);
    -webkit-animation: 2s animateTop linear infinite;
    animation: 2s animateTop linear infinite;
}

@-webkit-keyframes animateTop {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes animateTop {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.animated-button span:nth-child(2) {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 2px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.1), #fff);
    -webkit-animation: 2s animateRight linear -1s infinite;
    animation: 2s animateRight linear -1s infinite;
}

@-webkit-keyframes animateRight {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes animateRight {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

.animated-button span:nth-child(3) {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.1), #fff);
    -webkit-animation: 2s animateBottom linear infinite;
    animation: 2s animateBottom linear infinite;
}

@-webkit-keyframes animateBottom {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes animateBottom {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

.animated-button span:nth-child(4) {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 2px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.1), #fff);
    -webkit-animation: 2s animateLeft linear -1s infinite;
    animation: 2s animateLeft linear -1s infinite;
}

@-webkit-keyframes animateLeft {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}

@keyframes animateLeft {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}