/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .aic-container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}